In [93]:
# %pip install llama-index llama-index-experimental
# %pip install llama-index-llms-perplexity
# %pip install Flask

In [116]:
import pandas as pd
from llama_index.experimental.query_engine import PandasQueryEngine
from llama_index.core import PromptTemplate
from llama_index.core.llms import ChatMessage
from pprint import pprint
import json
import os
from flask import Flask, request, jsonify

os.environ["OPENAI_API_KEY"] = "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"

In [95]:
# testing with the example in the documentation

df = pd.DataFrame(
    {
        "city": ["Toronto", "Tokyo", "Berlin"],
        "population": [2930000, 13960000, 3645000],
    }
)

query_engine = PandasQueryEngine(df=df, verbose=True)

response = query_engine.query(
    "What is the city with the highest population?",
)

response.response

INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
> Pandas Instructions:
```
df.loc[df['population'].idxmax()]['city']
```
> Pandas Output: Tokyo

'Tokyo'

In [96]:
print("Response that user should see:", response.response)

Response that user should see: Tokyo

In [97]:
# trying on commerical transactions dataset

data_path = "../data/CommercialTrans_201910 to 202410.csv"
df = pd.read_csv(data_path)
df.head(3)

,Project Name,Street Name,Property Type,Transacted Price ($),Area (SQFT),Unit Price ($ PSF),Sale Date,Type of Area,Area (SQM),Unit Price ($ PSM),Tenure,Postal District,District Name,Floor Level
0,SUNSHINE PLAZA,BENCOOLEN STREET,Office,"850,000",484.38,"1,755",Oct-24,Strata,45,"18,889",99 yrs lease commencing from 1997,7,"Middle Road, Golden Mile",01 to 05
1,PAYA LEBAR SQUARE,PAYA LEBAR ROAD,Office,"2,318,000","1,065.64","2,175",Oct-24,Strata,99,"23,414",99 yrs lease commencing from 2011,14,"Geylang, Eunos",01 to 05
2,WOODS SQUARE,WOODLANDS SQUARE,Office,"1,230,000",559.73,"2,197",Oct-24,Strata,52,"23,654",99 yrs lease commencing from 2014,25,"Kranji, Woodgrove",06 to 10

In [98]:
query_engine = PandasQueryEngine(df=df, verbose=True)

response = query_engine.query(
    "What is the average price of the properties sold ?",
)

response.response

INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
> Pandas Instructions:
```
df['Transacted Price ($)'].str.replace(',', '').astype(float).mean()
```
> Pandas Output: 7059385.780089988

'7059385.780089988'

In [99]:
prompts = query_engine.get_prompts()
print(prompts["pandas_prompt"].template)

You are working with a pandas dataframe in Python.
The name of the dataframe is `df`.
This is the result of `print(df.head())`:
{df_str}

Follow these instructions:
{instruction_str}
Query: {query_str}

Expression:

In [100]:
print(prompts["response_synthesis_prompt"].template)

Given an input question, synthesize a response from the query results.
Query: {query_str}

Pandas Instructions (optional):
{pandas_instructions}

Pandas Output: {pandas_output}

Response:

In [111]:
property_agent_prompt = PromptTemplate(
    """\
You are working with a pandas dataframe in Python.
The name of the dataframe is `df`.
This is the result of `print(df.head())`:
{df_str}
Query: {query_str}

Expression:
"""
)

query_engine.update_prompts({"pandas_prompt": property_agent_prompt})

In [112]:
query_engine.get_prompts()

{'pandas_prompt': PromptTemplate(metadata={'prompt_type': <PromptType.CUSTOM: 'custom'>}, template_vars=['df_str', 'query_str'], kwargs={}, output_parser=None, template_var_mappings=None, function_mappings=None, template='You are working with a pandas dataframe in Python.\nThe name of the dataframe is `df`.\nThis is the result of `print(df.head())`:\n{df_str}\nQuery: {query_str}\n\nExpression:\n'),
 'response_synthesis_prompt': PromptTemplate(metadata={'prompt_type': <PromptType.CUSTOM: 'custom'>}, template_vars=['query_str', 'pandas_instructions', 'pandas_output'], kwargs={}, output_parser=None, template_var_mappings=None, function_mappings=None, template='Given an input question, synthesize a response from the query results.\nQuery: {query_str}\n\nPandas Instructions (optional):\n{pandas_instructions}\n\nPandas Output: {pandas_output}\n\nResponse: ')}

In [113]:
# testing with a more advanced query

response = query_engine.query(
    "Identify the top 3 postal districts with the highest total transaction value.",
)

response.response

INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
> Pandas Instructions:
```
df.groupby('Postal District')['Transacted Price ($)'].sum().nlargest(3)
```
> Pandas Output: Postal District
1    1.119047e+10
2    2.419240e+09
8    1.943736e+09
Name: Transacted Price ($), dtype: float64

'Postal District\n1    1.119047e+10\n2    2.419240e+09\n8    1.943736e+09\nName: Transacted Price ($), dtype: float64'

In [114]:
print(response)

Postal District
1    1.119047e+10
2    2.419240e+09
8    1.943736e+09
Name: Transacted Price ($), dtype: float64

In [115]:
# making a simple flask server 

property_agent_prompt = PromptTemplate(
    """\
You are working with a pandas dataframe in Python.
The name of the dataframe is `df`.
This is the result of `print(df.head())`:
{df_str}
Query: {query_str}

Expression:
"""
)

query_engine.update_prompts({"pandas_prompt": property_agent_prompt})

response = query_engine.query(
    "Identify the top 3 postal districts with the highest total transaction value.",
)

response.response

In [119]:
response.response

'Postal District\n1    1.119047e+10\n2    2.419240e+09\n8    1.943736e+09\nName: Transacted Price ($), dtype: float64'